name: 'ACR: Delete Docker Image'

on:
  workflow_call:
    inputs:
      image_tag:
        description: 'Image Tag'
        required: true
        type: string

jobs:
  az-acr-delete:
    name: "ACR: Delete Test Image"
    runs-on: ubuntu-latest
    environment: dev
    env:
      AZURE_CONTAINER_REGISTRY: ${{ vars.AZURE_CONTAINER_REGISTRY }}
      ACR_LOGIN_USERNAME: ${{ secrets.ACR_LOGIN_USERNAME }}
      ACR_LOGIN_PASSWORD: ${{ secrets.ACR_LOGIN_PASSWORD }}
    steps:
      - name: Azure Cloud Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
      - name: Configure branch name
        id: branch_name
        run: echo "GH_REF_NAME=$(echo ${{ inputs.image_tag }} | sed 's|/|-|g')" >> $GITHUB_OUTPUT

      - name: Delete Test Container Image
        uses: azure/cli@v2
        with:
          inlineScript: |
            az acr repository delete \
              --name ${{ env.AZURE_CONTAINER_REGISTRY }} \
              --image ${{ github.event.repository.name }}:${{ steps.branch_name.outputs.GH_REF_NAME }} \
              --yes || true