name: 'K8: Deploy'

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      

# Special permissions required for OIDC authentication
permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  k8-deploy:
    name: 'K8: Deploy'
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      APPLICATION_STARTUP_MESSAGE: "Application startup complete"
      KUBELOGIN_VERSION: "v0.0.25"
      DOCKERFILE: "${{ vars.DOCKERFILE }}"
      KUBERNETES_CLUSTER_REPO_NAME: "${{ vars.KUBERNETES_CLUSTER_REPO_NAME }}"
      KUBERNETES_CLUSTER_NAME: "${{ vars.KUBERNETES_CLUSTER_NAME }}"
      KUBERNETES_NAMESPACE: "${{ vars.KUBERNETES_NAMESPACE }}"
      KUBERNETES_MANIFEST_PATH: "${{ vars.KUBERNETES_MANIFEST_PATH }}"
      AZURE_RESOURCE_GROUP: "${{ vars.AZURE_RESOURCE_GROUP }}"
      AZURE_CONTAINER_REGISTRY: "${{ vars.AZURE_CONTAINER_REGISTRY }}"
      IMAGE_TAG: ${{ github.event_name == 'release' && github.event.release.tag_name || 'latest' }}
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GH_TOKEN }}
        repository: ${{ github.repository_owner }}/${{ env.KUBERNETES_CLUSTER_REPO_NAME }}
        ref: refs/heads/dev

    - name: GitHub Configuration
      run: git config --global url."https://oauth2:${{ secrets.GH_TOKEN }}@github.com".insteadOf https://github.com

    - name: Clone cicd-deployment-scripts
      run: git clone https://github.com/code-kern-ai/cicd-deployment-scripts.git
  
    # Install the latest version of Kubernetes CLI and configure the Kubernetes CLI configuration file with a Kubernetes Cloud user API token
    - name: Azure Cloud Login
      uses: Azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    # Use kubelogin to configure your kubeconfig for Azure auth
    - name: Set up kubelogin for non-interactive login
      uses: azure/use-kubelogin@v1
      with:
        kubelogin-version: ${{ env.KUBELOGIN_VERSION }}

    - uses: azure/aks-set-context@v3
      with:
        resource-group: ${{ env.AZURE_RESOURCE_GROUP }}
        cluster-name: ${{ env.KUBERNETES_CLUSTER_NAME }}
        admin: 'false'
        use-kubelogin: 'true'
    
    - name: Generate Kustomization
      shell: bash
      env:
        KUBECTL_EXTERNAL_DIFF: "colordiff -N -u"
      run: |
        sudo apt-get update 1>/dev/null
        sudo apt-get install colordiff 1>/dev/null
        kubectl kustomize ${{ env.KUBERNETES_MANIFEST_PATH }} --output apply.yml
        kubectl diff --filename apply.yml || true
  
    - name: Generate Deployment
      uses: Azure/k8s-deploy@v5
      timeout-minutes: ${{ startsWith(env.DOCKERFILE, 'gpu') && 20 || 5 }}
      with:
         namespace: ${{ env.KUBERNETES_NAMESPACE }}
         manifests: apply.yml
         pull-images: false
         images: ${{ env.AZURE_CONTAINER_REGISTRY }}/${{ github.event.repository.name }}:${{ env.IMAGE_TAG }}
         strategy: canary
         action: deploy
         percentage: 20
    
    - name: Assert Deployment Success
      timeout-minutes: 5
      shell: bash
      run: |
        bash cicd-deployment-scripts/k8s/assert_deploy_success.sh \
          -n "${{ env.KUBERNETES_NAMESPACE }}" \
          -d "${{ github.event.repository.name }}-canary" \
          -m "${{ env.APPLICATION_STARTUP_MESSAGE }}"
 
    - name: Promote Deployment
      uses: Azure/k8s-deploy@v5
      if: success()
      with:
        namespace: ${{ env.KUBERNETES_NAMESPACE }}
        manifests: apply.yml
        pull-images: false
        images: ${{ env.AZURE_CONTAINER_REGISTRY }}/${{ github.event.repository.name }}:${{ env.IMAGE_TAG }}
        strategy: canary
        action: promote

    - name: Reject Deployment
      uses: Azure/k8s-deploy@v5
      if: failure() || cancelled()
      with:
        namespace: ${{ env.KUBERNETES_NAMESPACE }}
        manifests: apply.yml
        pull-images: false
        images: ${{ env.AZURE_CONTAINER_REGISTRY }}/${{ github.event.repository.name }}:${{ env.IMAGE_TAG }}
        strategy: canary
        action: reject
