name: 'K8: Apply'

on:
  workflow_call:

# Special permissions required for OIDC authentication
permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  k8-apply:
    name: 'K8: Apply'
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    env:
      KUBELOGIN_VERSION: "v0.0.25"
      KUBERNETES_CLUSTER_REPO_NAME: "${{ vars.KUBERNETES_CLUSTER_REPO_NAME }}"
      KUBERNETES_CLUSTER_NAME: "${{ vars.KUBERNETES_CLUSTER_NAME }}"
      KUBERNETES_NAMESPACE: "${{ vars.KUBERNETES_NAMESPACE }}"
      KUBERNETES_MANIFEST_PATH: "${{ vars.KUBERNETES_MANIFEST_PATH }}"
      AZURE_RESOURCE_GROUP: "${{ vars.AZURE_RESOURCE_GROUP }}"
      AZURE_CONTAINER_REGISTRY: "${{ vars.AZURE_CONTAINER_REGISTRY }}"
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Azure Cloud Login
      uses: Azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Set up kubelogin for non-interactive login
      uses: azure/use-kubelogin@v1
      with:
        kubelogin-version: ${{ env.KUBELOGIN_VERSION }}

    - uses: azure/aks-set-context@v3
      with:
        resource-group: ${{ env.AZURE_RESOURCE_GROUP }}
        cluster-name: ${{ env.KUBERNETES_CLUSTER_NAME }}
        admin: 'false'
        use-kubelogin: 'true'
    
    - name: Generate Kustomization
      shell: bash
      run: |
        kubectl kustomize ${{ env.KUBERNETES_MANIFEST_PATH }} --output apply.yml
        cat apply.yml
  
    - name: Apply Kustomization
      shell: bash
      env:
        DRY_RUN: ${{ github.event_name == 'push' && 'none' || 'client' }}
      run: |
        kubectl apply \
          --dry-run ${{ env.DRY_RUN }} \
          --filename apply.yml \
          --namespace ${{ env.KUBERNETES_NAMESPACE }}
